<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @college.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @college.address2 %>
</p>

<p>
  <b>Zip:</b>
  <%= @college.zip %>
</p>

<p>
  <b>City:</b>
  <%= @college.city %>
</p>

<p>
  <b>State:</b>
  <%= @college.state %>
</p>

<p>
  <b>Duedate:</b>
  <%= @college.duedate %>
</p>

<p>
  <b>Steps:</b>
  <%= @college.steps %>
</p>

<p>
  <b>Complete:</b>
  <%= @college.complete %>
</p>

<p>
  <b>Accepted:</b>
  <%= @college.accepted %>
</p>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
