<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Duedate:</b>
  <%= @college.duedate %>
</p>

<p>
  <b>Steps:</b>
  <%= @college.steps %>
</p>

<p>
  <b>Complete:</b>
  <%= @college.complete %>
</p>

<p>
  <b>Accepted:</b>
  <%= @college.accepted %>
</p>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
