<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Birthdate</th>
    <th>Gpa</th>
    <th>Sat</th>
    <th>Phone</th>
    <th>Allow text</th>
    <th>Allow email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.birthdate %></td>
    <td><%= user.gpa %></td>
    <td><%= user.sat %></td>
    <td><%= user.phone %></td>
    <td><%= user.allow_text %></td>
    <td><%= user.allow_email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
