<div class ="college-list clearfix">
  <div class = "college-header">
    <div>
        <h4>My Colleges</h4>
    </div>
    <div class = "add-college">
          <%= link_to "Add new college", new_college_path %>
    </div>
  </div>
  <% if @colleges.length > 0 %>
    <% @colleges.each do |college| %>
    <div class ="college">
      <div>
        <%= college.student_rank %>
      </div>
      
      <div>
        <%= link_to college.name, college_path(college.id) %>
      </div>

      <div>
        <b>Due date:</b>
        <%= college.due_date %>
      </div>
      <div class ="ui-progress-bar ui-container transition" id="progress_bar">
          <div class="ui-progress" style="width: <%= college.percent_complete %>%;">
              <span class="ui-label" style="display: none;">Completed</span>
          </div>
      </div>
      <div>
        <b>Complete?</b>
        <%= college.complete %>
      </div>
       
      <div>
        <b>Accepted?</b>
        <%= check_box_tag :complete %>
      </div>
    </div>
  <% end %>
</div>

<% else %>
<p>You don't have any colleges yet, would you like to add one? <%= link_to "create college", new_college_path %></p>
  <% end %>

